body{
    background-color: #f8f8f8;
}
.home-main{

    width: 100%;
    margin-top: 20px;
   
    
    .container{
        width: 85%;
        border-radius: 20px;
        margin: auto;
        padding: 40px;
        border: 20px solid #6f76fc;
        background-color: #f8f8f8;
    }
    .main-header{
        width: 100%;
        text-align: center;
        

    }

    .main-intro{
        width: 100%;
        border: 1px solid #6f76fc;
        border-radius: 30px;
        text-align: center;
    }

    .main-projects{
        width: 100%;
       
        
        .projects-user{
            width: 100%;
            margin-top: 40px;
            display: flex;
            justify-content: space-around;

            border: 5px solid #6f76fc;
            border-radius: 20px;
            .projects-left{

                border-right: 1px solid #6f76fc;
                width: 20%;
                height: auto;
                position: relative;
                .left-inside{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 80px;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    border: 1px solid #6f76fc;
                    border-radius: 50%;
                    padding: 15px;

                }
            }

            .projects-right{
                width: 80%;
                padding-left: 20px;

                .right-body{
                    width: 100%;
                    display: flex;
                   
                    .right-body-list{
                        padding: 0 10px;
                        

                        .btnA{

                            font-size: 1.1em;
                            padding: 10px;
                            margin-top: 15px;
                            border: 1px solid #6f76fc;
                            border-radius: 10px;
                            background-color: white;
                            transition: 0.3s ease-in-out;
                            &:hover{

                                background-color: #6f76fc;
                            
                                color: white;
                               
                            }
                        }

                        a{
                            text-decoration: none;
                            color: black;
                            transition: .3s ease-in-out;

                            &:hover{
                                font-size: 1.1em;
                            }
                        }
                    }
                }

            }
        }
    }
}


