.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 40%;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .contact-details {
    width: 90%;
    margin: 6px 10px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #f5f5f5;
    overflow: hidden;
  }
}




