:root {
  --bg-color-primary: #646cff;
  --bg-color-primary-light: #9198ff;

  --bg-color-secondary: #322;
  --bg-color-tertiary: #322;

  --color-primary: #eae5e5;
  --color-primary-light: #f8f8f8;

  --primary-font: Roboto
}